Instruction TLB configuration
Number of sets: 2
Set size: 1

Data TLB configuration
Number of sets: 4
Set size: 2

Page Table configuration
Number of virtual pages: 64
Number of physical pages: 4
Page size: 256

Instruction Cache configuration
Number of sets: 4
Set size: 1
Line size: 16

Data Cache configuration
Number of sets: 2
Set size: 2
Line size: 8
Write through/no write allocate: y

Virtual addresses: y
TLBs: y